<!DOCTYPE HTML>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
    <title>Convertion by Whisper</title>
</head>
<body>
<form action="/" enctype="multipart/form-data" method="post">
    <input type="file" accept="audio/*" capture id="recorder" name="file" required ><br>
    
    <label for="model_type">Choose a Whisper model which you want to use:<br></label> <br>
    <select id="model_type" name="model_type">
        <option value="tiny">tiny</option>
        <option value="base">base</option>
        <option value="small">small</option>
        <option value="medium">medium</option>
        <option value="large">large</option>
    </select><br>

    <label for="interval">Enter the time between timestamps (leave blank for no timestamps):</label>
    <input type="text" id="interval" name="interval"><br><br>
    
    <audio id="player" controls></audio><br>

    <script>
        const recorder = document.getElementById('recorder');
        const player = document.getElementById('player');

        recorder.addEventListener('change', function (e) {
          const file = e.target.files[0];
          const url = URL.createObjectURL(file);
          player.src = url;
        });
    </script>

    <input type="submit" id="submit" value="Convert audio to text">
    
    {% if text %}
        <p>{{ text }}</p>
    {% endif %}
</form>
</body>
</html>